.price button {
    border-radius: 20px;
}


.box, .business, .developers   {
    height: 530px;
}


.developers::before {
    content: 'Most Popular';
    width: 23.5%;
    background-color: #2563eb;
    position: absolute;
    height: 50px;
    margin-top: -50px;
    border: 8px solid #2563eb;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
   
    
}